{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>
		Home
	</title>
</head>
<body>
	<ul>
		{% for co_usuario, user in users.items %}
			<li>{{ co_usuario }}</li>
				<ul>
					{% if user.invoices.invoices %}					
						{% for key, value in user.invoices.invoices.items %}
							<li>key: {{ key }}</li>
							<li>receita_liquida: {{ value.receita_liquida }}</li>
							<li>brut_salario: {{user.brut_salario}}</li>
							<li>comissao_cn: {{ value.comissao_cn }}</li>
							<li>lucro: {{ value.lucro }}</li>
								<ul>
									FATURAS:
									{% for factura in value.CaoFatura %}
										<li>fecha: {{ factura.data_emissao  }}</li>
										<li>valor: {{ factura.valor  }}</li>
										<li>total_imp_inc: {{ factura.total_imp_inc  }}</li>
										<li>receita_liquida: {{ factura.receita_liquida_fatura }}</li>
										<li>comissao_cn: {{ factura.comissao_cn_fatura }}</li>
									{% endfor %}
									-------------------
								</ul>
						{% endfor %}
						receita_liquida_total: {{user.invoices.receita_liquida_total}}	
						brut_salario_total: {{ user.invoices.brut_salario_total}}
						comissao_cn_total: {{ user.invoices.comissao_cn_total}}
						lucro_total_total: {{user.invoices.lucro_total}}
					{% endif %}
				</ul>
		{% endfor %}
	</ul>
	<script src="{% static 'js/jquery-3.1.1.slim.min.js' %}"></script>
	<script src="{% static 'js/tether.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>