{% load staticfiles %}
<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="icon" type="image/png" href="{% static 'images/DB_16х16.png' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="agence">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agence</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">

    <meta name="msapplication-TileImage" content="{% static 'images/touch/ms-touch-icon-144x144-precomposed.png' %}">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-table.css' %}">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <script src="{% static 'js/modernizr.js' %}"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header is-small-screen">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>

                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search"/>
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>

            <div class="material-icons mdl-badge mdl-badge--overlap mdl-button--icon notification" id="notification"
                 data-badge="23">
                notifications_none
            </div>

            <ul class="mdl-menu mdl-list mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-shadow--2dp notifications-dropdown"
                for="notification">
                <li class="mdl-list__item">
                    You have 23 new notifications!
                </li>
                <li class="mdl-menu__item mdl-list__item list__item--border-top">
                    <span class="mdl-list__item-primary-content">
                        <span class="mdl-list__item-avatar background-color--primary">
                            <i class="material-icons">plus_one</i>
                        </span>
                        <span>You have 3 new orders.</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <span class="label">just now</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item list__item--border-top">
                    <span class="mdl-list__item-primary-content">
                        <span class="mdl-list__item-avatar background-color--secondary">
                            <i class="material-icons">error_outline</i>
                        </span>
                      <span>Database error</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <span class="label">1 min</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item list__item--border-top">
                    <span class="mdl-list__item-primary-content">
                        <span class="mdl-list__item-avatar background-color--primary">
                            <i class="material-icons">new_releases</i>
                        </span>
                      <span>The Death Star is built!</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <span class="label">2 hours</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item list__item--border-top">
                    <span class="mdl-list__item-primary-content">
                        <span class="mdl-list__item-avatar background-color--primary">
                            <i class="material-icons">mail_outline</i>
                        </span>
                      <span>You have 4 new mails.</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <span class="label">5 days</span>
                    </span>
                </li>
                <li class="mdl-list__item list__item--border-top">
                    <button href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">ALL NOTIFICATIONS</button>
                </li>
            </ul>

            <div class="material-icons mdl-badge mdl-badge--overlap mdl-button--icon message" id="inbox" data-badge="4">
                mail_outline
            </div>

            <ul class="mdl-menu mdl-list mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-shadow--2dp messages-dropdown"
                for="inbox">
                <li class="mdl-list__item">
                    You have 4 new messages!
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-list__item--two-line list__item--border-top">
                    <span class="mdl-list__item-primary-content">
                        <span class="mdl-list__item-avatar background-color--primary">
                            <text>A</text>
                        </span>
                        <span>Alice</span>
                        <span class="mdl-list__item-sub-title">Birthday Party</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <span class="label label--transparent">just now</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-list__item--two-line list__item--border-top">
                    <span class="mdl-list__item-primary-content">
                        <span class="mdl-list__item-avatar background-color--baby-blue">
                            <text>M</text>
                        </span>
                        <span>Mike</span>
                        <span class="mdl-list__item-sub-title">No theme</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <span class="label label--transparent">5 min</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-list__item--two-line list__item--border-top">
                    <span class="mdl-list__item-primary-content">
                        <span class="mdl-list__item-avatar background-color--cerulean">
                            <text>D</text>
                        </span>
                        <span>Darth</span>
                        <span class="mdl-list__item-sub-title">Suggestion</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <span class="label label--transparent">23 hours</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-list__item--two-line list__item--border-top">
                    <span class="mdl-list__item-primary-content">
                        <span class="mdl-list__item-avatar background-color--mint">
                            <text>D</text>
                        </span>
                        <span>Don McDuket</span>
                        <span class="mdl-list__item-sub-title">NEWS</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <span class="label label--transparent">30 Nov</span>
                    </span>
                </li>
                <li class="mdl-list__item list__item--border-top">
                    <button href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">SHOW ALL MESSAGES</button>
                </li>
            </ul>

            <div class="avatar-dropdown" id="icon">
                <span>KDz</span>
                <img style="top: 10px;position: relative;" src="{% static 'images/Icon_header.png' %}">
            </div>

            <ul class="mdl-menu mdl-list mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
                for="icon">
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"></span>
                        <span>Keryc Diaz</span>
                        <span class="mdl-list__item-sub-title">kerycdiaz@gmail.com</span>
                    </span>
                </li>
                <li class="list__item--border-top"></li>
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_circle</i>
                        My account
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">check_box</i>
                        My tasks
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <span class="label background-color--primary">3 new</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">perm_contact_calendar</i>
                        My events
                    </span>
                </li>
                <li class="list__item--border-top"></li>
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">settings</i>
                        Settings
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon text-color--secondary">exit_to_app</i>
                        Log out
                    </span>
                </li>
            </ul>

            <button id="more"
                    class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp settings-dropdown"
                for="more">
                <li class="mdl-menu__item">
                    Settings
                </li>
                <a class="mdl-menu__item" >
                    Support
                </a>
                <li class="mdl-menu__item">
                    F.A.Q.
                </li>
            </ul>
        </div>
    </header>  


    <div class="mdl-layout__drawer">
        <header><img style="margin-top: 10px;" src="{% static 'images/logo.gif' %}"></header>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-navigation__link--current" href="/">
                <i class="material-icons" role="presentation">dashboard</i>
                Agence
            </a>
            <a class="mdl-navigation__link" >
                <i class="material-icons" role="presentation">person</i>
                Projetos
            </a>
            <a class="mdl-navigation__link" >
                <i class="material-icons" role="presentation">person</i>
                Administrativo 
            </a>
            <a class="mdl-navigation__link" >
                <i class="material-icons" role="presentation">person</i>
                Comercial  
            </a>
            <a class="mdl-navigation__link" >
                <i class="material-icons" role="presentation">person</i>
                Financeiro 
            </a>
            <a class="mdl-navigation__link">
                <i class="material-icons" role="presentation">person</i>
                Usuário  
            </a>

            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="https://kerycdiaz@bitbucket.org/kerycdiaz/agence.git">
                <i class="material-icons" role="presentation">link</i>
                Bitbucket
            </a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <form id="form" class="container" style="margin-top: 15px;" method="post" action="."> 
            {% csrf_token %}
            <div class="row">
                  <div class="col-xs-3" style="margin-top: 5px;"">
                      <input type="text" id="demo" class="form-control" name="date">
                      <hr>
                      <button id="relatorio" type="button" class="btn btn-block">Obtener Relatório <i style="float: right;" class="fa fa-list-alt" aria-hidden="true"></i></button>
                      <button id="grafico" type="button" class="btn btn-block">Obtener Gráfico <i style="float: right;" class="fa fa-bar-chart" aria-hidden="true"></i></button>
                      <button id="pizza" type="button" class="btn btn-block">Obtener Gráfico Pizza <i style="float: right;" class="fa fa-pie-chart" aria-hidden="true"></i></button>
                  </div>
                  <div class="col-xs-4">
                    <select name="from" id="multiselect" class="form-control" size="10" multiple="multiple">
                      {% for co_usuario, user in users.items %}
                         {% if user.name and user not in to %}
                            <option value="{{co_usuario}}">{{user.name}}</option>
                         {% endif %} 
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-xs-1" style="    margin-top: 24px;">
                    <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                  </div>
                  <div class="col-xs-4">
                    <select name="to" id="multiselect_to" class="form-control" size="10" multiple="multiple">
                        {% for user in to %}
                             {% if user.name %}
                                <option value="{{user.co_usuario}}">{{user.name}}</option>
                             {% endif %}
                        {% endfor %}
                    </select>
                  </div>
        
            </div>
            <div id="msg-alert" class="alert alert-danger" style="margin-top: 15px;display: none;"></div>
        </form>

    <br>
    <div class="container">
        {% if to|length %}
        <ul class="nav nav-tabs">
          {% if type == 'relatorio' %}
          <li class="active"><a data-toggle="tab" href="#relatorio_tab">Relatório <i class="fa fa-list-alt" aria-hidden="true"></i></a></li>
          {% endif %}
          {% if type == 'grafico' %}
          <li class="active"><a data-toggle="tab" href="#grafico_tab">Gráfico <i  class="fa fa-bar-chart" aria-hidden="true"></i></a></li>
          {% endif %}
          {% if type == 'pizza' %}
          <li class="active"><a data-toggle="tab" href="#pizza_tab">Pizza <i class="fa fa-pie-chart" aria-hidden="true"></i></a></li>
          {% endif %}
        </ul>
        {% endif %}

        <div class="tab-content">
          <div id="relatorio_tab" class="tab-pane fade {% if type == 'relatorio' %}in  active{% endif %}">
            <div class="mdl-grid mdl-grid--no-spacing">
                
                {% for co_usuario, user in users.items %}
                    {% if user.invoices.invoices %} 
                    <h1 class="names">{{ user.name }}</h1>
                    <section id="cd-table">
                        <header class="cd-table-column">
                            <h2>Período</h2>
                            <ul>
                                {% for key, value in user.invoices.invoices.items %}
                                    <li>{{ key }}</li>
                                {% endfor %}
                                <li>SALDO</li>
                            </ul>
                        </header>

                        <div class="cd-table-container">
                            <div class="cd-table-wrapper">
                                {% for key, value in user.invoices.invoices.items %}
                                <div class="cd-table-column">
                                    {% if forloop.first %}
                                    <h2>Receita Líquida</h2>
                                    {% endif %}
                                    <ul>
                                        <li>{{ value.receita_liquida|floatformat:2 }}</li>
                                        {% if forloop.last %}       
                                        <li><a class="cd-select" href="#0">{{ user.invoices.receita_liquida_total|floatformat:2 }}</a></li>
                                        {% endif %}
                                    </ul>
                                </div> <!-- cd-table-column -->

                                <div class="cd-table-column">
                                    {% if forloop.first %}
                                    <h2>Custo Fixo</h2>
                                    {% endif %}
                                    <ul>
                                        <li>{{ user.brut_salario|floatformat:2 }}</li>
                                        {% if forloop.last %}       
                                        <li><a class="cd-select" href="#0">{{ user.invoices.brut_salario_total|floatformat:2 }}</a></li>
                                        {% endif %}
                                    </ul>
                                </div> <!-- cd-table-column -->

                                <div class="cd-table-column">
                                    {% if forloop.first %}
                                    <h2>Comissão</h2>
                                    {% endif %}
                                    <ul>
                                        <li>{{ value.comissao_cn|floatformat:2}}</li>
                                        {% if forloop.last %}       
                                        <li><a class="cd-select" href="#0">{{ user.invoices.comissao_cn_total|floatformat:2 }}</a></li>
                                        {% endif %}
                                    </ul>
                                </div> <!-- cd-table-column -->

                                <div class="cd-table-column">
                                    {% if forloop.first %}
                                    <h2>Lucro</h2>
                                    {% endif %}
                                    <ul>
                                        <li>{{ value.lucro|floatformat:2 }}</li>
                                        {% if forloop.last %}       
                                        <li><a class="cd-select" href="#0">{{user.invoices.lucro_total|floatformat:2 }}</a></li>
                                        {% endif %}
                                    </ul>
                                </div> <!-- cd-table-column -->

                                <div class="cd-table-column">
                                    {% if forloop.first %}
                                    <h2>VER FACTURAS</h2>
                                    {% endif %}
                                    <ul>
                                        <li>1</li>
                                        {% if forloop.last %}       
                                        <li></li>
                                        {% endif %}
                                    </ul>
                                </div> <!-- cd-table-column -->

                                {% endfor %}

                            </div> <!-- cd-table-wrapper -->
                        </div> <!-- cd-table-container -->

                        <em class="cd-scroll-right" ></em>
                    </section>
                    {% endif %}
                {% endfor %}
                        
            </div>

    
          </div>
          <div id="grafico_tab" class="tab-pane fade {% if type == 'grafico' %}in  active{% endif %}">
            <br>
            <div id='graficoBarras'></div>
          </div>
          <div id="pizza_tab" class="tab-pane fade {% if type == 'pizza' %}in  active{% endif %}">
            <br>
            <div id='graficoTorta'></div>
          </div>
        </div>
    </div>
        
</div>

</main>


<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'js/material.js' %}"></script>
<script src="{% static 'js/multiselect.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">
    $('#multiselect').multiselect();

    var corechart = '{{users.corechart|safe}}';
    corechart = JSON.parse(corechart)
    var corechart2 = '{{users.corechart2|safe}}';
    corechart2 = JSON.parse(corechart2)
    corechart2.unshift(["nombre","receita_liquida"])
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawVisualization);
    function drawVisualization() {
        var data = google.visualization.arrayToDataTable(corechart);
        var series = '{"{{ users.corechart_count}}": {"type": "line", "color":"gray"}}';
        series = JSON.parse(series);
            var options = {
            title : "Performance Comercial",
            seriesType: 'bars',
            series: series,
            chartArea: {
                right: "30%",
                top: "15%",
                left:"10%",
                bottom:'10%',
                height: "80%"
            }
        };
            
        var chart = new google.visualization.ComboChart(document.getElementById('graficoBarras'));
        chart.draw(data, options);
    }

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
    var data = google.visualization.arrayToDataTable(corechart2);
        
    var options = {
        title: 'Paticipacao na Receita',
        is3D: true,
    };
        
    var chart = new google.visualization.PieChart(document.getElementById('graficoTorta'));
        chart.draw(data, options);
    }

    moment.locale('es');
    $('#demo').daterangepicker({
        locale: {
          format: 'DD-MM-YYYY'
        },
        "startDate": "01/01/2007",
        "endDate": "31/12/2007"
    }, function(start, end, label) {
        console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
    });

    $('#relatorio').click(function(){
        $('#form').append('<input type="hidden" name="type" value="relatorio">');
        $('#form').submit();
    })
    $('#grafico').click(function(){
        $('#form').append('<input type="hidden" name="type" value="grafico">');
        $('#form').submit();
    })
    $('#pizza').click(function(){
        $('#form').append('<input type="hidden" name="type" value="pizza">');
        $('#form').submit();
    })
 
</script>


</body>
</html>
