{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Gem style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title> | </title>
</head>
<body>
	<div id='graficoBarras'></div>
	<div id='graficoTorta'></div>
	{% for co_usuario, user in users.items %}
		{% if user.invoices.invoices %}	
		<section id="cd-table">
			<header class="cd-table-column">
				<h2>Período</h2>
				<ul>
					{% for key, value in user.invoices.invoices.items %}
						<li>{{ key }}</li>
					{% endfor %}
					<li>SALDO</li>
				</ul>
			</header>

			<div class="cd-table-container">
				<div class="cd-table-wrapper">
					{% for key, value in user.invoices.invoices.items %}
					<div class="cd-table-column">
						{% if forloop.first %}
						<h2>Receita Líquida</h2>
						{% endif %}
						<ul>
							<li>{{ value.receita_liquida|floatformat:2 }}</li>
							{% if forloop.last %}		
							<li><a class="cd-select" href="#0">{{ user.invoices.receita_liquida_total|floatformat:2 }}</a></li>
							{% endif %}
						</ul>
					</div> <!-- cd-table-column -->

					<div class="cd-table-column">
						{% if forloop.first %}
						<h2>Custo Fixo</h2>
						{% endif %}
						<ul>
							<li>{{ user.brut_salario|floatformat:2 }}</li>
							{% if forloop.last %}		
							<li><a class="cd-select" href="#0">{{ user.invoices.brut_salario_total|floatformat:2 }}</a></li>
							{% endif %}
						</ul>
					</div> <!-- cd-table-column -->

					<div class="cd-table-column">
						{% if forloop.first %}
						<h2>Comissão</h2>
						{% endif %}
						<ul>
							<li>{{ value.comissao_cn|floatformat:2}}</li>
							{% if forloop.last %}		
							<li><a class="cd-select" href="#0">{{ user.invoices.comissao_cn_total|floatformat:2 }}</a></li>
							{% endif %}
						</ul>
					</div> <!-- cd-table-column -->

					<div class="cd-table-column">
						{% if forloop.first %}
						<h2>Lucro</h2>
						{% endif %}
						<ul>
							<li>{{ value.lucro|floatformat:2 }}</li>
							{% if forloop.last %}		
							<li><a class="cd-select" href="#0">{{user.invoices.lucro_total|floatformat:2 }}</a></li>
							{% endif %}
						</ul>
					</div> <!-- cd-table-column -->

					<div class="cd-table-column">
						{% if forloop.first %}
						<h2>VER FACTURAS</h2>
						{% endif %}
						<ul>
							<li>1</li>
							{% if forloop.last %}		
							<li></li>
							{% endif %}
						</ul>
					</div> <!-- cd-table-column -->

					{% endfor %}

				</div> <!-- cd-table-wrapper -->
			</div> <!-- cd-table-container -->

			<em class="cd-scroll-right" ></em>
		</section>
		{% endif %}
	{% endfor %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{% static 'js/tether.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script type="text/javascript">
		var corechart = '{{users.corechart|safe}}';
		corechart = JSON.parse(corechart)
		var corechart2 = '{{users.corechart2|safe}}';
		corechart2 = JSON.parse(corechart2)
		corechart2.unshift(["nombre","receita_liquida"])
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawVisualization);
		function drawVisualization() {
            var data = google.visualization.arrayToDataTable(corechart);
            var series = '{"{{ users.corechart_count}}": {"type": "line", "color":"gray"}}';
            series = JSON.parse(series);
            var options = {
                title : "Performance Comercial",
                seriesType: 'bars',
                series: series,
                chartArea: {
                    right: "30%",
                    top: "15%",
                    left:"10%",
                    bottom:'10%',
                    height: "80%"
                }
            };
            
            var chart = new google.visualization.ComboChart(document.getElementById('graficoBarras'));
            chart.draw(data, options);
        }

        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
        var data = google.visualization.arrayToDataTable(corechart2);
        
        var options = {
          title: 'Paticipacao na Receita',
          is3D: true,
        };
        
        var chart = new google.visualization.PieChart(document.getElementById('graficoTorta'));
        chart.draw(data, options);
        }
	</script>


	</body>
</html>